[user]
	name = Björn Tegelund
	email = bjorn@tumblbug.com
[core]
	editor = vim
[filter "lfs"]
	smudge = git-lfs smudge %f
	required = true
	clean = git-lfs clean %f
[pull]
	default = current
[push]
	default = current
[alias]
	commend = commit --amend --no-edit
	ds = diff --staged
	s = status --short --branch
        c = commit
	a = add
	co = checkout
	com = checkout master
	b = branch
