[user]
	name = Björn Tegelund
	email = b.tegelund@gmail.com
[core]
	editor = code --wait
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	required = true
	clean = git-lfs clean -- %f
	process = git-lfs filter-process
[pull]
	default = current
[push]
	default = current
[alias]
	ca = commit --amend --no-edit
	ds = diff --staged
	s = status --short --branch
        c = commit
	a = add
	co = checkout
	com = checkout master
	cod = checkout develop 
	rh = reset --hard
	b = branch
  # Lists branches by most recently commmited to
	recent = for-each-ref --sort='authordate:iso8601' --format=' %(authordate:relative)%09%(refname:short)' refs/heads
  # List aliases
	la = !git config -l | grep alias | cut -c 7-
  # Remove local branches that have been merged into master of develop
  cleanup = !git branch --merged | egrep -v \"(^\\*|master|develop)\" | xargs git branch -d
[diff]
	tool = code
[difftool]
  prompt = false
[difftool "code"]
	cmd = code --wait --diff $LOCAL $REMOTE
