<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentthemeuid</key>
	<string>theme.custom.0EA711F8-7FCC-4181-B7E7-58926C5F6CED</string>
	<key>darkthemeuid</key>
	<string>theme.bundled.osxdark</string>
</dict>
</plist>
