; Not sure exaclty how these delays are used, need to look into it more
{:profiles {:Default {:default true
                      :sim 50
                      :delay 80
                      :alone 120
                      :held 80}}

 :layers {:hyper-mode {:key :caps_lock :alone {:key :escape}}
          :launch-mode {:key :tab}}
 :simlayers {:c-mode {:key :c :alone {:key :c}}
            }

 :templates {;; e.g. [:t [:alfred "search tty sessions" "net.isometry.alfred.tty"]]
             :alfred "osascript -e 'tell application \"Alfred 4\" to run trigger \"%s\" in workflow \"%s\" with argument \"%s\"'"
             :open "open \"%s\""
             :launch "open -a \"%s\""}
 ; the default value is 250
 :simlayer-threshold 50
 :main [{:des "Hyper Mode"
         :rules [:hyper-mode
                 [:open_bracket :!!open_bracket]
                 [:close_bracket :!!close_bracket]
                 [:semicolon :!!semicolon]
                 [:quote :!!quote]
                 [:comma :!!comma]
                 [:period :!!period]
                 [:slash :!!slash]
                 [:a :!!a]
                 [:b :!Oleft_arrow] ;; Navigation
                 [:c :!!c]
                 [:d :page_down] ;; Navigation
                 [:e :!!e]
                 [:f :!!f]
                 [:g :!!g]
                 [:h :left_arrow] ;; Navigation 
                 [:i :!!i]
                 [:j :down_arrow] ;; Navigation 
                 [:k :up_arrow] ;; Navigation
                 [:l :right_arrow] ;; Navigation 
                 [:m :!!m]
                 [:n :!!n]
                 [:o :!!o]
                 [:p :!!p]
                 [:q :!!q]
                 [:r :!!r]
                 [:s :!!s]
                 [:t :!!t]
                 [:u :page_up] ;; Navigation
                 [:v :!!v]
                 [:w :!Oright_arrow] ;; Navigation
                 [:x :!!x] ;; OSX Global Lock
                 [:y :!!y]
                 [:z :!!z]
                 [:1 :!!1]
                 [:2 :!!2]
                 [:3 :!!3]
                 [:4 :!!4]
                 [:5 :!!5]
                 [:6 :!!6]
                 [:7 :!!7]
                 [:8 :!!8]
                 [:9 :!!9]
                 [:0 :!!0]]}

        {:des "Right-command to switch input source when alone"
         :rules [[:right_command :right_command nil {:alone [:f19]}]]}

        {:des "Launch mode"
         :rules [:launch-mode
                 [:b [:launch "Bear"]]
                 [:c [:launch "Firefox Developer Edition"]]
                 [:d [:open "/Users/bjrnt/Downloads"]]
                 [:k [:launch "KakaoTalk"]]
                 [:l [:launch "Fantastical"]]
                 [:m [:launch "Spotify"]]
                 [:s [:launch "Spark"]]
                 [:t [:launch "iTerm"]]
                 [:v [:launch "Visual Studio Code"]]
                 [:w [:launch "Things3"]]
                 [:o [:launch "Obsidian"]]
                 ]}

        {:des "CTRL Mode"
         :rules [:c-mode
                 [:x :!Tx]
                ]}
        ]}
