<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>6315B5AB-4849-4A95-B3A6-453BB1F19E49</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0C1FA15D-A40B-49B5-9DB1-0663F356EDD4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FBE2612B-C971-466D-817C-6B08ABD8E8A7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0C1FA15D-A40B-49B5-9DB1-0663F356EDD4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Adapted by Jason Shanks. Original script credit to Josh Johnson</string>
	<key>description</key>
	<string>Launch an AppleScript app to connect your AirPods</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Connect AirPods</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>airpods</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Connect AirPods</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>FBE2612B-C971-466D-817C-6B08ABD8E8A7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>set airPodsName to "Björn’s AirPods Pro"

activate application "SystemUIServer"tell application "System Events"	tell process "SystemUIServer"
		-- set name to system attribute "name"		set btMenu to (menu bar item 1 of menu bar 1 whose description contains "bluetooth")		tell btMenu			click			tell (menu item airPodsName of menu 1)				click				if exists menu item "Connect" of menu 1 then					click menu item "Connect" of menu 1				else
					display notification "Already Connected" with title airPodsName					tell application "System Events"
						key code 53
					end tell				end if			end tell		end tell	end tellend tell

-- Script by Jason Shanks of http://FirstWorldAppleProblems.com
-- Adapted from an original script by Josh Johnson</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0C1FA15D-A40B-49B5-9DB1-0663F356EDD4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>6315B5AB-4849-4A95-B3A6-453BB1F19E49</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0C1FA15D-A40B-49B5-9DB1-0663F356EDD4</key>
		<dict>
			<key>xpos</key>
			<integer>365</integer>
			<key>ypos</key>
			<integer>205</integer>
		</dict>
		<key>6315B5AB-4849-4A95-B3A6-453BB1F19E49</key>
		<dict>
			<key>xpos</key>
			<integer>155</integer>
			<key>ypos</key>
			<integer>255</integer>
		</dict>
		<key>FBE2612B-C971-466D-817C-6B08ABD8E8A7</key>
		<dict>
			<key>xpos</key>
			<integer>155</integer>
			<key>ypos</key>
			<integer>135</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>name</key>
		<string>AirPods</string>
	</dict>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>https://github.com/jasonshanks/alfred-workflow-toggle-airpods</string>
</dict>
</plist>
